[2016-10-18 07:42] marksev1 opened #1 "question"
Very cool node-red node. Once I buy the Echo Dot or if Mycroft will add integration for Wemo devices I will surely use it. My question is can a device be added multiple "Friendly names". For example: "Turn on the sprinkler/hose/irrigation"?

[2016-10-28 20:03] scargill opened #2 "Nothing"
Hi

Well, I dropped the node into node-red - called it "thing" - it says it is listening on 39300 -   and I said to my ECHO "find devices" - it said it has found a device.  I said "Alexa turn thing on" -  and nothing - can't find it ...

Am I missing a stage here??

Pete.

[2016-10-31 11:38] biddster commented on #1
This isn't supported currently, other than wiring the output of multiple wemo nodes into the same flow.

[2016-10-31 11:41] biddster commented on #2
No Pete, you're not missing anything. That's all I do with the wemo emulator.

Have you tried the alexa app and made sure it's listed under smart home devices? You can do that via the ios/droid app or here, http://alexa.amazon.co.uk/spa/index.html#smart-home.

[2016-10-31 11:46] marksev1 commented on #1
Any plans to support it?

[2016-10-31 16:06] biddster commented on #1
Not right now, but if more people chip in here, I'll consider it.

The underlying library I rely on doesn't support it either, in essence it would be the same as adding multiple nodes (albeit cleaner).

[2016-10-31 16:46] biddster opened #3 "Use single node to handle multiple emulated devices"
Should we make this node work like the switch node? I.e. we can add multiple devices in a single node and get an output exposed for each?

This might help with #1 so we can advertise multiple friendly names for the same physical device?

[2016-11-01 08:53] marksev1 commented on #1
Cool. Closing.

[2016-11-01 08:53] #1 closed

[2016-11-02 03:48] rlust commented on #2
How do you add the Wemo skill to Alexa?

[2016-11-03 10:44] biddster commented on #2
@rlust it's already there, wemo support is built in. You open the Alexa app and go to smart home. Then click "discover devices".

<img width="496" alt="screen shot 2016-11-03 at 10 43 15" src="https://cloud.githubusercontent.com/assets/995967/19963016/64714ada-a1b2-11e6-8060-33f637ac3115.png">

[2016-11-10 14:46] scargill opened #4 "Not disappearing"
Works a treat - but - if you DELETE it..... and then do a search with Alexa - it is still there - you have to reboot.

[2016-11-14 14:15] biddster commented on #4
Thanks for the report, I'll look into it.

I'll check that I'm handling all the lifecycle events correctly.

[2016-11-15 22:21] biddster commented on #4
Hmm. Odd. I'm definitely calling close on the wemo emulator when the node is deleted. So the http server should be shut down. It is on my mac, confirmed via `lsof`.

I'll try to debug on the pi.

[2016-11-16 19:11] mikebiddell commented on #3
Yup..... it's a good idea.

[2016-11-16 23:12] biddster commented on #2
I'm closing this in light of https://github.com/biddster/node-red-contrib-wemo-emulator/issues/4

Assuming this Node is working and detecting things as the above bug states that they can't be deleted.

[2016-11-16 23:12] #2 closed

[2016-11-22 20:29] JontWeightman opened #5 "Random offline errors"
Hi - works great but I have set up 8 emulated devices and when I ask Alexa to find devices "she" will sometimes find all 8 and sometimes not.
Additionally "she" will sometimes loose a connection to a random device and then reconnect ?

I also find if I make any changes in node-red with emulated devices I need to reboot to get all the devices to be recognised.

I'm running node red on a rasp pi 1 r

[2016-11-22 23:57] biddster commented on #5
Thanks for the report. I've noticed the same issue with detection.

However, I've never had an actuation actually fail, even if Alexa is reporting that the device is offline.

Do you actually get actuation failures?

[2016-11-23 09:42] JontWeightman commented on #5
Yes - Alexa reports that the device is unavailable - yet I can switch the device through the iOS home bridge interface.

Jonathan

[2016-11-23 20:55] biddster commented on #5
So Alexa fails. Hmm.

I think we may have to talk to the wemore guy. This node just wraps up that library. I don't do anything other than start and stop it.

[2016-11-23 21:38] JontWeightman commented on #5
No - Alexa replies "blah" is not responding.

If I tell Alexa to find devices she may find some of the missing devices and drop others - or may find them all.

If I have set up a group on Alexa she will not report that she can't access all the items - i.e. "Downstairs lights" but if I reference them individually I may get the error not responding.

In the Alexa app the device also shows as offline

[2016-11-23 22:35] JontWeightman commented on #5
As an example:

Clicking refresh renders a different result:

Each offline item is reported by Alexa as not responding when I say "Alexa turn on/off blah."

[2016-11-26 21:59] biddster commented on #5
Can you give me some dimensions around the NR setup please so I can help?

How many wemo emulator nodes are you using?
What's NR running on? Pi 1, 2 etc?
Within the config of the wemo emulator nodes, have you specified a port or let it auto-allocate?

I do think we'll probably go have to talk to the wemore chap.

[2016-11-27 09:47] JontWeightman commented on #5
Hi,

I'm currently running 9 wemo emulator nodes on a pi v1 that has Jessie installed with the bundled version of NR.

I am running homebridge on the same pi to connect it with the iOS devices to control the house through the Apple Home app.

I have 9 esp8266 units running Pete Scargills code that I poll through MQTT every 10 seconds to check their status to feedback to NR through to homebridge an

[2016-11-28 22:03] biddster commented on #5
I have 8 wemo emulator nodes configured and running in my workspace. This is running on the same as you, a pi1.  The only difference is that I specified sequential port numbers for my wemo emulator nodes; 54265, 54266 etc.

Would you mind trying static sequential ports and see if things stabilise?

I've looked at the wemore code and all it does is start a web server. Node is pretty light weight so

[2016-11-29 11:38] JontWeightman commented on #5
Hi Luke,

That's looking better - I had to reboot the pi to find them but they don't appear to be dropping off anymore.

I can also make changes in NR without them all dropping away as well.

Thanks

Jonathan

[2016-11-29 22:40] biddster commented on #5
Thanks for helping me on this. I'll dig a little deeper, perhaps the port allocation algorithm within wemore isn't that stable?

Either way, I think I'll change the emulator node so port is mandatory.

[2016-12-01 16:33] mikebiddell commented on #5
errr mine is faultless and I specified sequential ports.... high numbers 55555, 55556 etc.

[2016-12-01 23:27] biddster commented on #5
I've released a new version which recommends specifying a port in all documentation.

[2016-12-01 23:27] #5 closed

[2016-12-02 14:54] Toshibass opened #6 "Deploy does not work when changes are made"
Thanks for writing this node it works well, however once deployed, if any change is made in the node for example ... if I change On Payload from **ON** to **1** when I Deploy (choosing Full or Modified nodes) I still get the output as **ON**  only when I stop and restart node-red does the change take effect and I then get a output as **1**

[2016-12-02 17:40] protolyser opened #7 "choose type of on/of topic"
thanks for the awesome, easy to use node.
It would be nice if it would be possible to set the type for the on/off payloads like in the "stock" nodes.

so that you could choose boolean true/false as output instead of just string.
that would make things easier and safe me some split/change nodes after the wemo node.

[2016-12-02 21:19] biddster commented on #6
What version of the node are you using? 0.4.0?

[2016-12-03 04:08] Toshibass commented on #6
Yes 0.4.0

[2016-12-05 23:02] biddster commented on #6
I'm struggling to recreate it here. What version of NodeRED are you running and what version of NodeJS?

[2016-12-09 05:31] Toshibass commented on #6
Sorry for late reply I've been away for a few days.

Node-red v0.15.2
NodeJS v4.6.2
Dashboard v2.1.0

[2016-12-10 08:44] biddster commented on #6
No problem, so have I!

I'll check my local setup against those versions and see what I can find.

[2016-12-11 02:47] JontWeightman opened #8 "Cant see more than 11 devices"
Hi,
I have set up 14 wemo emulator nodes all with different ports and ID's but only 11 are showing up on Alexa - any ideas ?

Thanks

[2016-12-11 18:26] biddster commented on #8
I'm assuming you've repeatedly told Alexa to scan. Took a few scans for alexa to see all of my devices.

I'm not sure that the number is the issue, I have 9 configured at the moment and they're 100% reliable.

[2016-12-16 11:32] mikebiddell commented on #8
I think the ports probably need to be contiguous

[2016-12-19 16:17] Toshibass commented on #8
I have 15 wemo emulator nodes setup all found by Alexa and all work 100% the ports are not continuous meaning I started at port 55555 with ID 001 through to port 55565 with ID 011 then there's a gap were I intend to add more nodes, I start again at port 55577 with ID 023 through to port 55580 ID 026
I did have to ask Alexa twice to scan before they were all picked up.

[2016-12-19 16:54] Toshibass commented on #3
I like the idea of multiple friendly names for the same device but like you say having a couple of nodes with different friendly names controling the same device is a very easy work around.

But what would be even better would be multiple names for On / Off  obviously the wemo socket (or in my case the sonoff sockets and stuff I'm controlling) can only switch **On** and **Off** but for example I h

[2016-12-19 16:56] Toshibass commented on #6
I just want to add to this I updated to Dashboard 2.2.0 but that makes no difference, I still have to restart node-red if I change the payload on the wemo-emulator-node but lets face it its **no big deal,** because its such a rare case to change stuff once the node is setup and working as long as you remember to restart if you do ever change something.

[2016-12-19 17:03] mikebiddell commented on #8
Yeah..... it was just a theory. But my ports are contiguous and are discovered in one attempt???? Dunno.... just a theory

[2016-12-19 20:16] JontWeightman commented on #8
Is there any "rules" or logic around the range for the port numbers - contiguous or not ?

Jonathan

[2016-12-21 16:27] biddster commented on #8
No rules that I know of. The only thing is to specify them and make sure they are free. Run:

    $ netstat -l

on your pi and make sure there are no clashes.

[2016-12-28 03:52] Toshibass commented on #8
Further to my post above, yesterday I added 3 additional wemo emulator nodes to my setup I repeatedly asked Alexa to scan but it would only picked up 1 additional node then I tried stoping and restarting node-red that solved the problem like scanning after restarting enabled Alexa to pick up alll the addition nodes I guess that's linked to issue #6 (no problem as long as you remember to restart no

[2017-01-21 09:25] thommycgn opened #9 "Error"
Hi!
If I install the script and restart node-red I get this Error:
[error] [wemo-emulator:Licht] Emulation error: listen EACCES 0.0.0.0:100

node-Red is running with ssl.

[2017-01-24 21:26] biddster commented on #9
Looks like you've picked port 100. The operating system won't allow that. You should pick a port above 1024. I'll update the documentation to reflect that.

[2017-01-27 10:14] #9 closed

[2017-01-27 10:23] thommycgn opened #10 "Devices not found - Or no MQTT msg was send"
![bildschirmfoto 2017-01-27 um 11 25 44](https://cloud.githubusercontent.com/assets/8251797/22367744/75e78810-e483-11e6-819e-842dc6eb9280.png)
Hi!

The device is listening on Port 39900.
If I search for devices with alexa: no devices found.

Any Ideas?

Here what netstat says:
______________________________________
pi@raspberrypi:~/.node-red $ netstat -l
Aktive Internetverbindungen (Nur Server)
Pr

[2017-01-27 10:56] thommycgn commented on #10
Ok, now after reloading the alexa-app the device is in the list.
But if I ask alexa to turn the light on/off she just say ok.
The status is changing to on/off but no mqtt msg was send.

[2017-01-28 15:25] biddster commented on #10
Have you tried wiring the output of this wemo node into a debug node and watching in the admin console when you ask alexa to turn on and off? If you set the debug node to dump the entire message we should see your configuration from above.

Mine has been super reliable for months so there must be something amiss.

[2017-01-28 23:40] biddster commented on #3
@Toshibass As far as I know, there's nothing I can do to change the actuations from on and off to close or open.

This node wraps wemore, it might be possible in there to advertise other actuations. I'll have to read up on the way wemo works and the details of the protocol.  But it might be worth asking the wemore folks.

[2017-01-28 23:51] biddster commented on #10
Having thought about it, I think the fault must lie elsewhere. If the status on this node is changing, it must have emitted a msg via `node.send({topic: config.onTopic, payload: config.onPayload});`.

[2017-01-29 13:04] thommycgn commented on #10
Output:

cmnd/led-deko-lampe/power : msg : Object
{ "topic": "cmnd/led-deko-lampe/power", "payload": "on", "_msgid": "57254bc9.a8dab4" }

But nothing else happen, no mqtt command goes out.

[2017-01-30 20:02] biddster commented on #10
This looks like an issue elsewhere in your flow. This node is doing what it is supposed to. I suggest asking on the node red Google group.

[2017-02-15 19:59] jbardi commented on #8
I know this is a few months old, but since the issue still exists I thought I'd add my situation to the list.

I have 26 nodes, and I can only get it to recognize 19 of them. Been scanning on and off for a few hours, restarted node-red many times, still always only recognizes 19 devices. All my ports are in sequence, starting at 33301 to 33326, and my Unique IDs are 0001 to 0026

Running netstat -

[2017-02-16 16:50] buserror commented on #8
I also have the problem, with just 11 nodes... Also uppon re-scanning, some appear 'offline' (even tho they still work!)
Anyway, I found this in the log when I restarted node-red. Hope this helps!

(node) warning: possible EventEmitter memory leak detected. 11 exit listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at process.addListener (events.js:239:17)
    at EmulatedD

[2017-04-07 08:24] oenc opened #11 "Unable to install"
Hi, I'm having the following error trying to install this node:

[code]

The debug log is attached as per the notes (but had to convert the file ext to .txt to upload)
[npm-debug.txt](https://github.com/biddster/node-red-contrib-wemo-emulator/files/904956/npm-debug.txt)

I get similar errors with a couple of other ones such as wemore, but the majority of them install fine.

Any thoughts?

Cheers

[2017-04-09 09:52] #11 closed

[2017-05-06 16:38] VillageThing commented on #10
I'm having trouble getting the Alexa app on my iPad to discover the wemo-emulator nodes. I have had them working in the past but at some point in the past month, they have stopped. Alexa won't discover any new instances of the node and existing nodes are listed in the Alexa app as 'offline'.

![node2](https://cloud.githubusercontent.com/assets/18529147/25774161/443381fa-3282-11e7-9432-4b0a917b9eb2

[2017-05-22 21:05] biddster commented on #10
Thanks for the report @VillageThing. What version of node-red and nodejs are you using?

[2017-05-22 21:17] VillageThing commented on #10
Hi,

Here’s the version details:-

22 May 22:16:04 - [info] Node-RED version: v0.16.2
22 May 22:16:04 - [info] Node.js  version: v4.8.3
22 May 22:16:04 - [info] Linux 4.9.24-v7+ arm LE

[2017-05-24 20:34] biddster commented on #8
It might be that there are echo limits https://github.com/armzilla/amazon-echo-ha-bridge/issues/12. The echo ha bridge is truncating at 26.

[2017-05-24 20:59] biddster commented on #10
I'm struggling to find this one @VillageThing. This node doesn't do much other than wrap the wemore library. I'm struggling to find where in wemore that error might be thrown.

Have you upgraded nodejs since installing this node?

[2017-05-25 06:53] VillageThing commented on #10
Thanks for looking. I'd really like to get this working. It's such a useful node. Shall I uninstall the wemo emulator and re-install it?
Keith.

Sent from Keith's iPhone

[2017-05-25 21:21] biddster commented on #10
By all means give that a try and let me know.

[2017-07-19 09:55] DaisyDave opened #12 "Document Firewall Settings"
Could the help page be extended to define the port settings required to make the emu;ator visible when running behind a firewall. After some research I found I had to open the following ports on my fedora installation to enable Alexa to discover my 'device':

`1900/udp`
`<device specific port>/tcp`

Once these two ports were opened everything worked like a charm. Thanks.

[2017-07-20 15:45] biddster commented on #12
Great idea. I'll do it.

[2017-08-11 07:59] jbardi commented on #8
Ok, so this is not an echo limit. I have checked a lot of sources, and as far as I can tell, there are no limits to how many devices, wemo or otherwise, can be added to an alexa device.

I was also receiving the EventEmitter memory leak error. By default, node.js only allows 10 listeners per process, as most use cases would be closing down those listeners, but in this case, we need 1 active listen

[2017-08-11 08:09] biddster commented on #8
Many, many thanks for doing the investigation on this. I've been struggling for time lately.

Maybe we could just increment the max listeners every time the wemo node gets created?

[2017-09-02 19:59] biddster commented on #12
Fixed, will be included in the next release.

[2017-09-02 19:59] #12 closed

[2017-09-03 21:39] biddster commented on #8
0.5.0 has been released with the fix suggested by @jbardi, please give it a test folks and report back.

[2017-11-20 15:22] Toshibass opened #14 "Problems with alexa iphone app"
Hi I have been a long time user of your wemo-emulator and I still works fine for me however since the recent alexa update (the one that adds calling & messaging /multi room) which incidentally I didn't install yet) the ios app freezes when I try to discover devices like there is none listed in the app and when I try to discover them the screen says "This may take up to 20 seconds then does nothing

[2017-11-21 19:38] biddster commented on #14
Have you tried discovery by going to the https://alexa.amazon.co.uk (or equivalent for your country) in a desktop web browser?

[2017-11-22 14:01] Toshibass commented on #14
Yes Discovery as I said "the alexa web app still functions fine.....," however just today there was another update to the ios alexa app and now Discovery works fine, so it appears to have been a problem with the app.

**I never thought it was a problem with your node**, it just unbelievable to me that you can google all day looking for other people having problems with the alexa app and find nothi

[2017-11-22 14:01] #14 closed

[2017-11-22 22:22] biddster commented on #14
Glad it's all working ok for you now.

[2017-11-25 12:34] martinschki opened #15 "Two nodes appearing"
When I add a node, I have always two nodes appearing in Alexa
One is called "WeMo Switch" and the other one "Wemo Steckdose"
Alexa is on german and "Steckdose" means wall plug

[2017-12-03 17:00] frownbreaker opened #16 "Strange problems on set up"
Hi I've installed the module for Node-Red and have set up some Wemo Emulator nodes.

I can trigger these from an Andriod app call Wemo Trigger which detects the Node-Red Wemo Emulator endpoints and can fire messaged to them. Interestingly the only inbound payload seems to be the turn off command (inspected using debug) no ON message.

The Alexa command to find new devices never yields any devices,

[2017-12-05 22:46] biddster commented on #15
That's not something I've seen here in the UK. Do either of the nodes actually work?

[2017-12-06 09:20] martinschki commented on #15
Yes, but the problem is that I have to delete one of the two first in Alexa, otherwise it won’t.
Is there any way you can look into this? Can I provide logs?

[2017-12-10 21:58] biddster commented on #15
It's likely to be a bug in the library I use to emulate wemo, this node actually does very little other than wrap that library in order to allow node red to use it. I'll see if there's any debugging we can enable.

[2017-12-13 09:27] jonathanschneider opened #17 "Alexa app can't control emulated devices"
Controlling the emulated devices with the Echo works fine. When trying to control them through the Alexa app though it says the device doesn't respond. Is this error on Amazon or the node?

[2017-12-13 09:30] martinschki commented on #17
Works with me
But, in my case, I get two entries in the Alexa app for one device. I then have to manually delete one before it works...

[2017-12-13 09:31] jonathanschneider commented on #17
Weird. I only have one entry per device. Can you control the device from both entries in the Alexa app?

[2017-12-13 09:33] martinschki commented on #17
NO, I have to delete one first
(One entry is English and one German, my system is setup in german)

[2017-12-24 14:03] jonathanschneider commented on #17
Maybe it’s a port/firewall issue? Which ports are you using for example?

Where does the Alexa app get the second language from in your case?

[2018-01-05 00:13] nospam2k opened #18 "d.dispose is not a function"
Not a big deal but I thought I'd report it. I get this error through debug when I redeploy.

Error stopping node: TypeError: d.dispose is not a function

[2018-01-05 08:42] CarJu opened #19 "Identifiing asking Echo/Alexa"
Hello Biddster!
I have two echos in two rooms.
I want to tell node-red to do different things, depending on the echo where the command comes from.

**Is there any possibility to identify the IP or any kind of id where comes the command from?**

For example:
I build a flow for "lights".
If I ask from livingroom "alexa turn lights on" then the livingroom-lights should turn on... in kitchen, lights o

[2018-01-20 23:45] biddster commented on #19
I think this is a great idea @CarJu. However, I can't see any identifying information on the callback I get from Wemore.

I've raised an issue in Wemore asking the question. https://github.com/dhleong/wemore/issues/13

[2018-01-24 17:28] biddster commented on #19
@CarJu, @dhleong has very kindly added support in wemore for identifying the callee. I'll look to incorporate that asap and get a release out.

[2018-01-31 13:20] CarJu commented on #19
Oh, that are great news!
I will be very happy to see your next update!

Thank You!

[2018-02-01 09:43] martinschki commented on #19
Great!
I'm too looking forward to this!!!
It will simplify my multi Echo setup siginificantly

Thank you!!!

[2018-02-09 16:55] AlGu1 commented on #17
Hi,

i have also this problem and fixed it with changing the code. See [here](https://github.com/dhleong/wemore/issues/14).

Thanks for your work
AlGu

[2018-02-09 19:50] biddster commented on #17
Thanks for the report. I wonder if this is what's causing others to see 2 devices?

[2018-02-09 19:53] biddster commented on #16
I'm not sure why this would be, your setup seems perfectly legitimate.

Have you tried discovery a few times, others have reported that it's discovered after a few attempts?

[2018-02-09 19:57] AlGu1 commented on #17
I think it's only the fix for "Alexa app can't control emulated devices". Not for other bugs e.g. 2 devices. :-)

[2018-02-11 11:34] biddster commented on #17
@AlGu1 Did you have to remove and then get alexa to rescan for devices after you changed emulate.js? Or was a node-red restart enough?

[2018-02-11 12:28] AlGu1 commented on #17
I have removed all devices in Alexa, restart node-red and then rescan. Now i can change the state in Alexa App but there is a little missing feature:
If i change the state outside of Alexa App, the Alexa App dose not get anything. I think there is no event that tells Alexa the new state?!

[2018-02-13 19:35] jonathanschneider commented on #18
I get the same error message but haven’t noticed any effect.

[2018-02-21 22:35] biddster commented on #19
I've finally got around to do some testing and it seems that the origin of the request is always from the same alexa device, regardless of which device was spoken to.

I think I'll do a release anyway as it doesn't do any harm and you folks can see if it works for you.

[2018-02-21 23:11] biddster commented on #19
0.5.1 released, give it a try.

[2018-02-22 20:35] biddster commented on #3
This looks like a decent candidate https://github.com/dsandor/fauxmojs/issues

[2018-03-12 14:07] l0ghan opened #21 "First Simulated Device is working great but 2nd is not seen"
hello,
first thx very much for this node.
I've create one simulated WeMo with :
- id : 001
- port : 55555
-->my node is working great wemo is seen by Alexa and process work great

I've created another simulated WeMo with:
- id : 002
- port : 55556
-->this WeMo sumulated device is not seen by alexa but the First one  (id : 001) still work great

Do you have any idea about that ?
Regards
julien

[2018-03-12 22:15] biddster commented on #21
Have you tried restarting node-red and attempting detection again?

[2018-03-13 14:59] l0ghan commented on #21
yes i've and it shows me another entrie for the first simulated WeMo.

[2018-03-13 22:28] l0ghan commented on #21
i managed to add all my wemo emulator by adding and disable it one by one after adding them to alexa.
finally i activated all the node in node-red and it 's now OK.
It's not very convenient but it works :)
cheers

[2018-03-15 19:43] biddster commented on #21
Thanks for the report. I don't know why this is happening. I've seen reports elsewhere of Alexa duplicating devices for other libraries, not just this one.

[2018-03-15 20:41] martinschki commented on #21
same here,
Anything I can send to help?

Am 15. März 2018, um 21:43, schrieb biddster <notifications@github.com>:

Thanks for the report. I don't know why this is happening. I've seen reports elsewhere of Alexa duplicating devices for other libraries, not just this one.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the

[2018-03-16 20:12] l0ghan commented on #21
hey  martinschki,

What i've done to achieve this :
- make 2 tabs : 1 tab enable 1 tab disable

For each wemo simulated device :
1 - add the wemo bloc to the enabled tab
2 - build
3 - add the wemo to alexa
4 - move the bloc to the disabled tab

At the end enable the disable Tab with all the wemo.
Alexa should have kept all the Wemo devices :)

keep us updated
l0ghan

[2018-03-31 14:51] wth101 opened #22 "Nore does not appear in node red panel"
Hi running a pi zero w and have run "npm install node-red-contrib-wemo-emulator", restarted node red but I don't see the node in the list on the left?

Complete noob to node red, any help appreciated.

[2018-03-31 18:04] wth101 commented on #22
Sorry was using an old version of node

[2018-03-31 18:04] #22 closed

[2018-04-09 14:40] CarJu commented on #19
Hello Biddster,
I'm sorry for late reply...
I testet very much and it is not working and I'm sorry, it will not work!
Amazon has changed handling of answering and so it is random which echo is shown.

If you are still interested in a solution, on this page I found a sh-script for asking amazon for the last alexa with voice command:
https://wennez.wordpress.com/light-on-with-alexa-for-each-room/

h

[2018-09-15 11:50] Zacki84 opened #23 "Working with alexa sdk on raspberry as well?"
Hi
Does this also work when alexa sdk is running on same raspberry? Or is this like fauxmo lib which is only working with 1st gen of dot?
Thanks

[2018-11-07 20:34] jonathanschneider commented on #15
I encounter the very same issue. Two devices: "WeMo Switch" and "WeMo Steckdose".

[2018-11-07 20:37] jonathanschneider opened #24 "Duplicate devices after Node-RED restart"
When I restart Node-RED, Alexa discovers the same devices again and creates duplicates. I have set unique IDs and ports but Alexa still detects them as new devices.

[2018-11-19 13:50] umbm commented on #24
I have a similar problem. I get the duplicates if I added a new device to node-red without restarting node-red. Alexa discovers the new device and adds the already existing devices additional with same name.
All devices are set with a unique port and ID.

[2018-11-21 22:36] tomjmul commented on #24
Same issue. I've tested by directly creating device emulations with wemore 0.6 and it does appear horribly broken with the Alexa discovery mechanism. Every time the emulator is restarted and discovery run, a new Wemo device will appear and the old one hangs around. Even without restarting Alexa will often discover the same device again.

@biddster Would you be open to PRs on this?

[2018-11-26 09:47] maddinla commented on #24
I have the same problem. When I will add a new device I get duplicates and Alexa doesn´t work because the  names are not only for one device.

[2018-12-04 20:11] JoJ123 commented on #24
I also run into this issue today. Until now I didn't found a solution

[2018-12-08 00:58] Z18Aplha commented on #4
i have the same issues. alexa finds my devices (double). I disconnected my raspi, but alexa finds my wemo switches. I have no idea..

[2018-12-15 16:29] MrPasty commented on #24
same issue here, would love to see a fix because removing dups from alexa is a real pain.  is this bug being tracked?

[2018-12-15 16:30] MrPasty commented on #15
Same here - is this bug being tracked?

[2018-12-18 18:59] DENightOne commented on #24
Have the same problem.....didnt know about it till i looked at the alexa web app and say over 50 duplicates... I used to use node-red-contrib-alexa-local for all my IOT things but sadly it sees everything as a light... I changed to node-red-contrib-wemo-emulator so that I can set it as a switch or a light in the alexa app (android)

[2018-12-23 21:15] biddster commented on #24
Sorry for the radio silence folks, been super busy on the job that pays the bills. @tomjmul, I'd really welcome a PR, all help very welcome as I don't have a huge amount of time still.

I was considering replacing wemore with fauxmojs, but that seems to have issues too.

[2018-12-25 14:16] martinschki commented on #19
Could I also please ping this???
Is there a solution?
Would be awesome

[2018-12-30 09:20] Blackink90 commented on #24
@biddster I really love your node, I was going to replace alexa-home with yours cause i HATE depending on someone else's site that is often down, but your node it's duplicating devices for me too, after every "deploy".
I tried alexa-local but with my plus it's not doing a thing.
I'm looking forward for a fix, this is sure going to be my first choice :)

[2019-01-16 07:58] Jury1985 commented on #24
ich have the same Problem.

[2019-01-31 00:52] nnhhuu commented on #24
hello, any update on this?

[2019-02-07 18:48] nnhhuu opened #25 "devices still register on alexa after uninstall the plugin"
Hello,
i installed this node in order to control some HA devices with alexa using node-red, there was very straight forward process for the first device, alexa recognize, when i started to add the devices (about 20) i notice that all the devices were duplicated in alexa, every time that i "discover devices", the devices were duplicated, sometime there were 4 or 5 with the same name.  after i fight

[2019-03-02 22:28] rodymary commented on #24
Also I've got such duplicated devices each time I'm restarting Node-Red or my Pi.
I'm now better using fauxmoESP library (https://bitbucket.org/xoseperez/fauxmoesp) on a tiny esp8266 and it's working like a charm.
If it could help.

[2019-03-03 14:59] tomjmul commented on #24
I asked @biddster if he was open to a PR but got no reply. I've created a new contribution which scraps the wemore library and uses lower-level networking to get around this duplicate devices problem. Please try it out and let me know if it works for you - [node-red-fake-wemo ](https://www.npmjs.com/package/node-red-contrib-fake-wemo). Many thanks to @biddster for his excellent contribution which

[2019-03-03 20:39] biddster commented on #24
4 comments up @tomjmul :

Either way, I'm really glad you've got it sorted as I haven't had the time.

I had planned to help the chaps here and fix up fauxmojs https://github.com/dsandor/fauxmojs/issues/21

[2019-03-14 15:47] tomjmul commented on #24
@biddster  I missed your reply, my apologies

[2019-06-28 20:21] Shaquu commented on #24
Have you managed to fix this?

[2019-07-01 20:44] biddster commented on #24
I'm sorry - I haven't had any time to look at this.

[2019-09-02 05:18] jonathanschneider commented on #24
@tomjmul Could you please still provide that pull request? I'd like to stick with node-red-contrib-wemo-emulator.

[2019-09-16 09:47] Andergraw opened #26 "Can this work with an AVS device? (Raspberry Pi)"
First of all, thank you for your work!
Now my question: I have been working on a RPi AVS enabled device (with official SDK) and after a lot of headaches, I discovered that neither this nor other LAN addons work with my device unless a real Alexa device is on and in the same LAN.
Would it be possible to make this plugin work locally, without linking to any Alexa skiil and with my Raspberry Pi with

[2020-01-04 16:38] Andy4handy commented on #24
I have assigned a fixed port to my devices. The easiest way is to enter the last port that was assigned in Node-Red. Then restart flows and new search on Alexa. Even after a reboot I could press switches.

[2020-01-26 23:59] biddster commented on #24
I think I have a fix, I'll look to publish in the next few days.

[2020-01-27 21:39] biddster commented on #24
Fix released in version 1.0.0. Please let me know how you get on.

You will get one more duplicate device after upgrading to 1.0.0, that's unavoidable unfortunately. However, you can remove all of the old duplicate devices and you should not get any more duplicates.

[2020-01-27 21:39] #24 closed

[2020-01-27 21:43] biddster commented on #17
Fix released in version 1.0.0 for duplicate devices and I think it will fix this issue. Please let me know how you get on and reopen if needed.

You will get one more duplicate device after upgrading to 1.0.0, that's unavoidable unfortunately. However, you can remove all of the old duplicate devices and you should not get any more duplicates.

[2020-01-27 21:43] #17 closed

[2020-01-27 21:43] biddster commented on #15
Fix released in version 1.0.0 that should sort this. Please let me know how you get on and reopen if needed.

You will get one more duplicate device after upgrading to 1.0.0, that's unavoidable unfortunately. However, you can remove all of the old duplicate devices and you should not get any more duplicates.

[2020-01-27 21:43] #15 closed

[2020-01-27 21:44] biddster commented on #18
Fixed in 1.0.0.

[2020-01-27 21:44] #18 closed

[2020-01-27 21:46] biddster commented on #16
1.0.0 is released and uses the latest wemore which I think will fix this. Please test and reopen this issue if necessary.

[2020-01-27 21:46] #16 closed

[2020-01-27 21:50] biddster commented on #6
Confirming fixed in 1.0.0

[2020-01-27 21:50] #6 closed

[2020-01-27 21:52] biddster commented on #10
Closing old issue as no reply for a couple of years.

[2020-01-27 21:52] #10 closed

[2020-01-27 22:19] biddster commented on #21
1.0.0 is released and should fix this issue. Please reopen if that's not the case.

[2020-01-27 22:19] #21 closed

[2020-01-27 22:21] biddster commented on #8
Closing due to inactivity. Please reopen if the issue still persists.

[2020-01-27 22:21] #8 closed

[2020-01-27 22:32] biddster commented on #26
I really don't know the answer to this. I've not looked at the alexa sdk stuff at all. This node simply wraps the wemore library and it's that library that handles the Alexa stuff.

[2020-01-27 22:46] jonathanschneider commented on #24
No more duplicates! Great job! Thank you!

[2020-01-28 16:41] Andergraw commented on #26
Yeah, I supposed.
Thanks anyway, it is a nice piece of work

[2020-01-28 23:10] biddster commented on #23
I honestly don't know the answer to this. I've not looked at the alexa sdk stuff at all. This node simply wraps the wemore library and it's that library that handles the Alexa stuff.

[2020-02-14 06:06] caobach42 commented on #25
I have this issue on echo dot3 too, even upgraded to 1.0.0, any idea to fix it?
first i need to remove all devices first for fresh node-red installation but even i forget all devices, stop node-red then discover again, all devices just reappeared. is it possibility issue by echo dot itself?
Thanks

[2020-02-14 06:16] caobach42 commented on #4
I have same issue, forget all then stop node-red then discover device, viola! all devices (double) still appeared
any idea that it caused by Echo itself?

[2020-02-14 20:03] JontyWeightman commented on #4
I have exactly the same issue - upgraded to 1.0.0, deleted all devices, restarted node-red and rediscovered all devices. All wemo devices now duplicated in Alexa. I have tried this on echo devices and on alexa web page - same result.

[2020-02-14 20:18] JontyWeightman commented on #4
OK - seems to be an Alexa issue - the devices are found even if the raspberry pi running homebridge is turned off.... ?

[2020-02-14 21:25] biddster commented on #4
That's a new one on me. I'll have a look here but it sounds like something I won't be able to fix.

[2020-02-18 23:12] MattL0 opened #28 "Does this work with google home?"

[2020-02-18 23:14] MattL0 commented on #25
is this still an issue ? Just downloaded vs 1.0.0 to try.

wanted to set my binary /on/off with this instead of with the hue emulator( which expose a rgb -diming node to node red... but it works)

[2020-02-18 23:25] MattL0 commented on #24
@jonathanschneider still no duplicates? Thanks

[2020-02-18 23:33] MattL0 commented on #24
did you use that library ? https://github.com/n8henrie/fauxmo/tree/dev

@biddster

[2020-02-19 16:28] jonathanschneider commented on #24
Yes, still no duplicates!

[2020-02-22 09:30] biddster commented on #24
@MattL0  this node uses https://github.com/dhleong/wemore

[2020-02-28 06:04] caobach42 commented on #4
Beside duplicate devices now sometime it couldn't discover new devices, i moved to this emulator, seem good
https://github.com/datech/node-red-contrib-amazon-echo
P.s still try to find way to remove wemo devices even stop Node-RED

[2020-03-03 13:19] fraser73 commented on #25
I've just upgraded my node red / raspbian setup to the current version and I'm seeing this behavior. There are now two of everything - even after I disable the current nodes and restart node red (even if I reboot the system) However I can't find anywhere that the config data might persist?

[2020-03-03 22:25] fraser73 commented on #25
I've just had a bit more of a dig into the problem and it seems (at least in my case) that if you stop node-red, (I also shut down the system that was running it for good measure).

Then from the web portal, I got Echo to forget all the smart home devices, rescanned and it still found the old wemo emulated devices.

To fix this, it seems that if you manually "forget" each device individually throu

[2020-04-13 20:21] nicedevil007 opened #30 "[ENHANCEMENT] Enter On / Off Payload by flow or global variable"
Hey biddster,

first I want to thank you for all your work!

I'm on a testrun with your nodes right now and I'm wondering if you would be able to allow as to enter a flow or global variable as the on or off payload.

Why?

We can set a slider for brightness of a lamp or the temperature of a room on the node-red dashboard.
This chosen value will be saved to a flow variable and if I input this as th

[2020-04-17 11:01] nicedevil007 commented on #21
Hey @biddster

got the same issue now with version 1.0.0.

I added 5 devices and all of them are shown. That was a couple of weeks before.
Now I just added new devices and alexa isn't able to find them. And yes everything got an other ID and Port :)

[2020-04-17 11:08] nicedevil007 opened #31 "Debugging of SenderID?"
@biddster

Thank you for your enhancement with the Sender ID detection.

I've tried it on 2 seperate instances but we only get the ID / IP Adress of the same alexa all the time.
It doesn't matter which one we used to get a command to work.

Yes I know it is experimental. I just want to help or test it :)

[2020-04-21 21:47] biddster commented on #31
Thank you for the offer, but I don't think it's possible. I talked to the author of wemore and he couldn't see a way to do it either.

[2020-04-21 21:48] biddster commented on #28
No - only an Amazon Echo will detect local devices. As far as I know, Google Home only functions via linking accounts, it doesn't scan your home network for devices.

[2020-04-21 21:49] biddster commented on #30
It's a good idea, I'll add it to the list. Fancy submitting a PR?

[2020-04-23 20:17] giacomo892 opened #32 "Unable find new devices and use old ones"
As today I cannot use this node with Alexa anymore.
All of my wemos are reported as unresponsive, and I cannot add new ones as they are not discovered.

Known issue?

[2020-04-24 19:03] giacomo892 commented on #32
Looks like now the nodes are starting, slowly, to be found again.

[2020-04-27 16:00] rauljerico commented on #32
Me too, same problem here... I have nodered (Local) and I cannot use it since now week

[2020-04-27 19:54] giacomo892 commented on #32
@rauljerico rebooting the echo dot solves briefly here.. seems like amazon messed something...

[2020-04-27 21:50] rauljerico commented on #32
It doesn't work... something happened here... maybe I'll try Haaska :P

[2020-05-03 03:50] caobach42 commented on #25
@fraser73 it is not work for me :(

[2020-08-23 20:23] #28 closed

[2020-08-23 20:23] #26 closed

[2020-08-23 20:24] #23 closed

[2020-10-26 17:38] vepman commented on #30
Good idea

[2022-02-08 08:47] manuel2021007 opened #41 "How can I turn off Wemo emu via Home assistant without Alexa ?"
Via Alexa I can have a switch activated, but how can I deactivate the Wemu emu via home asssistent without Alexa ?

I would like to activate scenes via multiple Wemo emu's.